
* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

header {
    height: 70px;
    width: 100vw;
    position: fixed;
    background-color: #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: center;
}

header > img {
    position: fixed;
    left: 10px;
}

header > .icons {
    width: 15%;
    display: flex;
    justify-content: space-between;
}



/*******************************************************************************/

.extra {
    height: 200vh;
    width: 100vw;
    background-color: blanchedalmond;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;

}